.koh-santepheap-thin {
  font-family: "Koh Santepheap", serif;
  font-weight: 100;
  font-style: normal;
}

.parent {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr;
  text-align: center;
}

#nye-message {
  font-size: 150px;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;;
  padding: 50px;
}

[id*="Value"], [id*="Colon"] {
  font-size: 120px;
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

[id*="Label"] {
  font-size: 25px;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #F5F5F5;
  background: linear-gradient(to bottom, #0B0C10, #1d3f69);
  place-content: center;
}

@media (max-width: 768px) {
  #nye-message {
    font-size: 100px;
  }

  [id*="Value"], [id*="Colon"] {
    font-size: 80px;
  }

  [id*="Label"] {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  #nye-message {
    font-size: 50px;
  }

  [id*="Value"], [id*="Colon"] {
    font-size: 60px;
  }

  [id*="Label"] {
    font-size: 20px;
  }
}